/* Progress bar container with CSS custom property support */
.progressContainer {
  height: 0.5rem;
  background-color: rgb(229 231 235);
  border-radius: 9999px;
  overflow: hidden;
}

.dark .progressContainer {
  background-color: rgb(55 65 81);
}

.progressBar {
  height: 0.5rem;
  border-radius: 9999px;
  width: var(--progress-width, 0%);
}

.progressBarGreen {
  background-color: rgb(34 197 94);
}

.progressBarYellow {
  background-color: rgb(234 179 8);
}

.progressBarRed {
  background-color: rgb(239 68 68);
}

.progressBarPrimary {
  background-color: var(--primary-color, rgb(59 130 246));
}

